@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.App {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  height: 100%;
  width: 100%;
  background-color: white;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding-top: 8rem;
}

.main-container {
  text-align: center;
  height: 50%;
  width: 90%;
  background-color: white;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  margin-top: 2.5rem;
}

.term-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25rem;
  height: 12.5rem;
  background-color: orange;
  box-shadow: 5px 5px 10px gray;
}

.method-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25rem;
  height: 12.5rem;
  background-color: hotpink;
  box-shadow: 5px 5px 10px gray;
}

.html-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25rem;
  height: 12.5rem;
  background-color: rgb(177, 177, 43);
  box-shadow: 5px 5px 10px gray;
}

.card {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.card h1 {
  font-size: 2em;
}

.card h2 {
  font-size: 1em;
}

.card h4 {
  font-size: 0.75em;
}

.flip-button {
  margin-top: 1rem;
  background-color: white;
  font-size: 1rem;
}

.arrow-button {
  padding: 3rem;
}

.nav-buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.nav-buttons button {
  font-family: 'Nanum Gothic Coding', monospace;
  font-weight: 700;
  font-size: 1rem;
  background-color: yellow;
  padding: 1rem;
  margin: 0.25rem;
}

.nav-buttons button:hover {
  border-color: orange;
}

figcaption {
  font-family: 'Nanum Gothic Coding', monospace;
  font-weight: 700;
  font-size: 1.5rem;
}

/* media queries */

@media only screen and (max-width: 800px) {
  .term-card-container {
    width: 18.75rem;
    height: 9.375rem;
  }
  .html-card-container {
    width: 18.75rem;
    height: 9.375rem;
  }
  .method-card-container {
    width: 18.75rem;
    height: 9.375rem;
  }
  .card h1 {
    font-size: 1.75rem;
  }
  .card h2 {
    font-size: 0.75rem;
  }
  .card h4 {
    font-size: 0.5rem;
  }
}

@media only screen and (max-width: 600px) {
  .term-card-container {
    min-width: 15rem;
    min-height: 7.5rem;
  }
  .html-card-container {
    min-width: 15rem;
    min-height: 7.5rem;
  }
  .method-card-container {
    min-width: 15rem;
    min-height: 7.5rem;
  }
  .card h1 {
    font-size: 1.25rem;
  }
}

@media only screen and (max-width: 480px) {
  .App {
    padding-top: 2rem;
  }
  .term-card-container {
    min-width: 14rem;
    min-height: 7rem;
  }
  .method-card-container {
    min-width: 14rem;
    min-height: 7rem;
  }
  .html-card-container {
    min-width: 14rem;
    min-height: 7rem;
  }
  .main-container {
    width: 300px;
  }
  .nav-buttons {
    flex-flow: column;
  }
  .arrow-button {
    padding: 1rem;
  }
}
