.App {
  text-align: center;
  height: 100vh;
  width: auto;
  background-color: white;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 300px;
  background-color: orange;
  box-shadow: 5px 5px 10px gray;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.flip-button {
  margin-top: 1rem;
  background-color: white;
  border: none;
}

